<div class='row'>
    <div class='col-12'>
        <form action="/">
            <button class='basket' type='submit'>Back</button>
        </form>
    </div>
</div>
<div class='row'>
    <div class='col-8 border'>
        <div class='row'>
            <div class='col-5'>
                <img src="{{image}}" alt="">
            </div>
            <div class='col-7'>
                <h3 style='color:black; margin:0px'>{{colour}} {{brand}}'s</h3>
                <h5 style='color:red; margin:0px'>Price - R{{price}}</h5>
                <h5 style='margin-top:15px; margin-bottom: 0px'>Sizes:</h5>
                <table style='padding-left:21px'>
                    {{#each sizeStock}}
                    <tr>
                        <td>size: {{size}} - stock: {{stock}}</td>
                        <td>
                            <form action="/shoes/display/{{id}}" method="POST">
                                <button type='submit'> + </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    <div style="background-color:rgb(204, 88, 53);border-radius:5px;border: 1px solid black" class="col-4 center sideLeft">
        <h3><u>Shopping Basket:</u></h3>
        <div class="listData">
            {{#each basket}}
            <li style='list-style-type:none; padding-left:20px'>Size {{size}} {{colour}} {{brand}}  ({{qty}} - R{{cost}}) </li>
            {{/each}}
        </div>
        <div>
            <strong class="totalText" style="color: white;float: none">Total: R{{total}}</strong>
        </div>
    </div>
</div>